In [47]:
import pandas as pd
import numpy as np
import requests
import os
from zipfile import ZipFile

In [7]:
parent_path = r'C:\Users\01150208\OneDrive - Politechnika Warszawska\Pliki_Kuby\Studia\III_ROK\PAG\PAG_II\projekt1'
directory = 'Dane'
path = os.path.join(parent_path, directory)
if not os.path.exists(path):
    os.mkdir(path)
    print("Directory '%s' created" % directory)

C:\Users\01150208\OneDrive - Politechnika Warszawska\Pliki_Kuby\Studia\III_ROK\PAG\PAG_II\projekt1\Dane
Directory Dane created

In [27]:
year = '2020'
month = '01'
url = f'https://dane.imgw.pl/datastore/getfiledown/Arch/Telemetria/Meteo/{year}/Meteo_{year}-{month}.zip'
r = requests.get(url, allow_redirects=True)
data_path_zip = f'{path}\Meteo_{year}-{month}.zip'
if r:
    print(r.status_code)
    open(data_path_zip, 'wb').write(r.content)

200

In [29]:
meteo_dir = f'Meteo_{year}-{month}'
data_path = os.path.join(path, meteo_dir)
if not os.path.exists(data_path):
    os.mkdir(data_path)
with ZipFile(data_path_zip, 'r') as zip:
    zip.extractall(path=data_path)

In [30]:
# print(os.listdir(data_path))

['B00202A_2020_01.csv', 'B00300S_2020_01.csv', 'B00305A_2020_01.csv', 'B00604S_2020_01.csv', 'B00606S_2020_01.csv', 'B00608S_2020_01.csv', 'B00702A_2020_01.csv', 'B00703A_2020_01.csv', 'B00714A_2020_01.csv', 'B00802A_2020_01.csv', 'B00910A_2020_01.csv']

In [43]:
code = 'B00300S'
for file in os.listdir(data_path):
    if file.startswith(code):
        df = pd.read_csv(os.path.join(data_path, file), header=None, delimiter=';', usecols=[0,1,2,3])
df.head()

           0        1                 2    3
0  249190890  B00300S  2020-01-01 00:00  3,2
1  249190890  B00300S  2020-01-01 00:10  3,2
2  249190890  B00300S  2020-01-01 00:20  3,3
3  249190890  B00300S  2020-01-01 00:30  3,1
4  249190890  B00300S  2020-01-01 00:40    3

In [44]:
df.rename(columns={0:"KodSH", 1:"ParametrSH", 2:'Data', 3:"Wartość"}, inplace=True)

In [45]:
df.head()

       KodSH ParametrSH              Data Wartość
0  249190890    B00300S  2020-01-01 00:00     3,2
1  249190890    B00300S  2020-01-01 00:10     3,2
2  249190890    B00300S  2020-01-01 00:20     3,3
3  249190890    B00300S  2020-01-01 00:30     3,1
4  249190890    B00300S  2020-01-01 00:40       3

In [48]:
import datetime
from astral.sun import sun
from astral import LocationInfo
city = LocationInfo("Warsaw", "Poland", "Europe/Warsaw", 52.0, 21.0)
s = sun(city.observer, date=datetime.date(2021, 10, 22))
print((
    f'Dawn:    {s["dawn"]}\n'
    f'Sunrise: {s["sunrise"]}\n'
    f'Noon:    {s["noon"]}\n'
    f'Sunset:  {s["sunset"]}\n'
    f'Dusk:    {s["dusk"]}\n'
))

Dawn:    2021-10-22 04:38:05.746104+00:00
Sunrise: 2021-10-22 05:13:23.395679+00:00
Noon:    2021-10-22 10:20:28+00:00
Sunset:  2021-10-22 15:26:38.110085+00:00
Dusk:    2021-10-22 16:01:51.631447+00:00

In [49]:
s["dawn"].dtype

AttributeError: 'datetime.datetime' object has no attribute 'dtype'

In [50]:
type(s["dawn"])

datetime.datetime